body {
  font-family: "Anonymous Pro", monospace;
  background-color: #f6f6f6;
}


.timestamp {
  display: block;
  float: right;
  color: #777;
  margin-left: 1ex;
  margin-bottom: 4px;
  text-align: right;
  font-size: 80%;
}

.server-key {
  color: grey;
  width: 10em;
  margin-right: 1ex;
}

.command {
  display: inline-block;
  color: salmon;
  margin-right: 2ex;
  width: 8ex;
  text-align: right;
}

.trail {
}

section > div {
  margin-bottom: 8px;
}

p {
  display: block;
  margin: 0;
}

p > span {
  display: inline-block;
  width: 540px;
}

p > cite {
  display: block;
  padding-left: 20px;
  margin-top: 4px;
  margin-bottom: 6px;
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
}

article {
  display: inline-block;
  overflow-y: scroll;
  float: left;

  width: 660px;
  height: 380px;

  margin-right: 5px;
  margin-bottom: 6px;
  padding: 0;

  background-color: #eee;
  border: 1px solid #aaa;
}

article h1 {
  position: fixed;
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
  line-height: 25px;
  font-size: 22px;
  color: white;

  text-transform: uppercase;
}

article.channel {
  height: 768px;
}

article h1 {
  background-color: #ccc;
}

article:hover {
  background-color: #fafafa;
  border-color: #555;
}

article:hover h1 {
  background-color: #aaa;
}

article section {
  padding: 10px;
  padding-top: 35px;
}
