body {
  font-family: "Anonymous Pro", monospace;
  background-color: #f6f6f6;
}

section {
  width: 80em;
  margin: 0 auto;
}

.timestamp {
  color: grey;
  margin-right: 1ex;
}

.server-key {
  color: grey;
  width: 10em;
  margin-right: 1ex;
}

.command {
  display: inline-block;
  color: salmon;
  margin-right: 2ex;
  width: 8ex;
  text-align: right;
}

.trail {
}
