* {
  box-sizing: border-box;
}
body {
  font-family: "Anonymous Pro", "Ubuntu Mono", monospace;
  background-color: #ccc;
  color: #333;
  font-size: 16px;
}
body > section {
  width: 660px;
  margin: 0 auto;
}
.timestamp {
  display: block;
  float: right;
  color: #777;
  margin-left: 1ex;
  margin-bottom: 8px;
  text-align: right;
  font-size: 80%;
}
.server-key {
  color: grey;
  width: 10em;
  margin-right: 1ex;
}
.command {
  display: inline-block;
  color: maroon;
  margin-right: 2ex;
  width: 8ex;
  text-align: right;
}
section > div {
  margin-bottom: 8px;
}
p {
  display: block;
  margin: 0;
}
p > span {
  display: inline-block;
  line-height: 1.1;
  margin-left: 6px;
}
p > cite {
  display: inline-block;
  font-weight: bold;
  font-style: normal;
}
p > cite:after {
  content: ":";
}
article {
  display: block;
  float: left;
  width: 660px;
  margin-right: 5px;
  padding: 0;
  background-color: #f3f3f3;
  border: 1px solid #888888;
  border-top: 0;
  border-bottom: 0;
}
article.minimized {
  opacity: 0.6;
  height: auto;
  border-width: 0 inherit 0 inherit;
}
article.minimized:hover {
  opacity: 0.9;
}
article.minimized > div {
  display: none;
}
article.minimized a[rel=toggle-area-minimization]:before {
  content: "▼";
}
article.minimized a:not([rel=toggle-area-minimization]) {
  opacity: 0;
}
article section {
  padding: 10px;
  overflow-y: scroll;
  height: 380px;
  font-size: 15px;
}
article.boring section {
  height: 200px;
}
article h1 {
  margin: 0;
  padding-left: 8px;
  line-height: 26px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
article h1 a {
  color: white;
  text-decoration: none;
  margin-right: 8px;
}
article h1 a[rel=toggle-area-minimization]:before {
  position: relative;
  top: 2px;
  content: "▲";
}
article h1 span {
  margin-left: 8px;
}
article hr {
  height: 1px;
  border: none;
  background-color: #888888;
}
article hr + hr {
  display: none;
}
article .input {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  font: inherit;
  line-height: 1.5;
  margin-bottom: 0;
  padding-left: 16px;
  border: 0;
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
}
div.replaying {
  text-align: left;
}
div.replaying span {
  display: inline-block;
  height: 26px;
  background-color: #e49188;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.area-splitter {
  -webkit-animation-name: fade-in;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 3s;
}
